<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorSoap" />
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="CalculatorServiceReference.CalculatorSoap" name="CalculatorSoap" />
            <endpoint address="http://localhost:56037/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICustomerService" contract="CustomerServiceReference.ICustomerService"
                name="BasicHttpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
</configuration>