@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Application</h1>
</div>
<div style="font-size:medium">
    @Html.ActionLink("Login", "Login")
    @Html.ActionLink("Sign-Up", "Registration")
</div>